header {
    background-color: black;
    color: white;
    width: 100%;
    top: 0;
    padding: 10px 0;
}

nav ul{
    display: flex;
    justify-content: center;
    align-content: center;
}

ul li{
    list-style: none;
    margin-left: 30px;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    font-weight: bolder;
    transition: 0.4s ease;
}

nav ul li a:hover{
    color: orange;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Main-table{
    padding-top: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    background-color: black;
    overflow: hidden;
    border-radius: 10px;
}

.card img{
    width: 100%;
    display: block;
}

.card .info {
    padding: 15px;
}

.card.info p {
    margin: 4px 0;
    font-size: 0,10em;
}

.card .info .price{
    color: green;
    font-weight: bold;
}