header {
    background-color: rgb(3, 0, 32);
    color: white;
    width: 100%;
    top: 0;
    padding: 10px 0;
}

/*Styling the navigation bar*/
nav ul{
    justify-content: center;
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 30px;
    font-size: 20px;
}

ul li a{
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

li a:hover{
    color: orange;
}

body{
    background-color: blacks
}

font{
    line-height: 5;
}

#main-page{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: rgb(3, 0, 32);
    color: white;
    margin-top: 1rem;
    border-radius: 10px;
    height: 500px;
}

button{
    size: 5px
}