header {
    background-color: black;
    color: white;

    top: 0;
    padding: 10px 0;
}

/*Styling the navigation bar*/
nav ul{
    justify-content: center;
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 30px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    font-weight: bolder;
    transition: 0.4s ease;
    padding: 5px 10px;
}

ul li a{
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

li a:hover{
    color: orange;
}

/*Styling the body*/
body{
    background-image: url(Background-img.webp);/*For background image*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;/*postion of the image*/
}

/*Spacing between text*/
font{
    line-height: 5;
}

/*# is for id */
#main-page{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: white;
    margin-top: 1rem;
}

/*Styling the button*/
.button{
    background-color: black;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border: none;
}

/*Styling the text in the button*/
a{
    color: white;
    text-decoration: none;
     margin: 10px 5px;
}